body {
  background-image: url(images/background2.png);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 20px;
}
.headerFont {
  font-family: 'Raleway', sans-serif;
  color: rgba(225, 225, 225, 0.1);
  background-image: url(images/color.jpg);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }
}
.jumbotron {
  background-image: url(images/header2.png);
  text-align: center;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
  color: black;
}
#topic-input {
  width: 100%;
  margin-top: 25px;
  /* margin-left: 25px; */
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
}
#submitBttn {
  background-image: url(images/header2.png);
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  /* margin-left: 50px; */
  width: 100%;
  height: 35px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
#movie-gif {
  width: 100%;
  /* margin-left: -55px; */
}
#title {
  background-image: url(images/header2.png);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}
#summary {
  background-image: url(images/header2.png);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  /* margin-left: 125px; */
  border: 1px solid black;
  color: black;
}
#infoTitle {
  background-image: url(images/header2.png);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  /* margin-left: 125px; */
  border: 1px solid black;
  color: black;
}
#castTitle {
  background-image: url(images/header2.png);
  width: 100%;
  height: 85px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}
p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}
#line {
  border-right: 1px solid black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
hr {
  border-color: black;
}

@media screen and (max-width: 850px) {
  .wrapper {
    width: 800px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper {
    width: 600px;
  }
}
